* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #f5f542,#f0ad11);
  position: relative;
}

.content {
  background: white;
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  box-shadow: 25px 25px 30px rbg(0, 0, 0, 0.15);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;

}

.row span, p {
  font-weight: 600;
}

input[type="range"] {
  width: 70%;
  height: 3.5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #dcdcdc;
  border-radius: 3px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #1c1c1c;
  border-radius: 50%;
  cursor: pointer;
}

.output {
  margin-top: 30px;
  text-align: center;
}

.output h1 {
  color: #0be881;
}

@media (max-width: 650px) {
   .content {
     width: 80%;
   }
}
